{% extends 'base.html' %} {% block body %} {% include "nav_bar.html" %}
<style>
  /* Custom CSS background color*/
  body {
    background-image: linear-gradient(to right, #75ee71c7, #eceb84);
  }


</style>
<div
class="d-flex justify-content-center align-items-center"
style="min-height: 100vh"
>
<div class="container plant-image">
  <div class="row">
    <h2 class="text-center">Image Classification</h2>
    <div class="col-md-6"> 
      <img
        src="/static/uploaded_image/plant_image.JPG"
        alt="Image"

      />
    </div>
    <div
      class="col-md-6 text d-flex flex-column justify-content-center align-items-center"
    >
      <h4 class="text-center">{{model_prediction}}</h4>
      <p class="text-center">{{diseases_details}}</p>
    </div>
  </div>
  <a href="{{url_for('image_classification')}}" class="btn btn-primary" role="button"
  >Check with different image</a
>
</div>
</div>
</div>
<div>
{%endblock %}