{% extends 'base.html' %} {% block body %} {% include "nav_bar.html" %}
<!----------banner Section------------------>
<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="promo-title">Empowering Farmers With Data Driven Decisions</p>
      </div>
      <div class="col-md-6 text-center">
        <img src="/static/images/farmer_01.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
  <img src="/static/images/wave1.png" class="bottom-img" alt="" />
</section>
<!----------Services Section---------------->
<section id="services">
  <div class="container text-center">
    <h1 class="title">What We Do ?</h1>
    <div class="row text-center">
      <div class="col-md-3 services">
        <img
          src="/static/images/crop-recommendation-logo.png"
          class="service-img"
          alt=""
        />
        <h4 class="service-name">Crop<br />Recommendation</h4>
      </div>
      <div class="col-md-3 services">
        <img
          src="/static//images/fertilizer-logo.png"
          class="service-img"
          alt=""
        />
        <h4 class="service-name">Fertilizer<br />Recommendation</h4>
      </div>
      <div class="col-md-3 services">
        <img
          src="/static/images/image-classification-logo.png"
          class="service-img"
          alt=""
        />
        <h4 class="service-name">Dieases<br />Classification</h4>
      </div>
      <div class="col-md-3 services">
        <img
          src="/static/images/market-price-logo.png"
          class="service-img"
          alt=""
        />
        <h4 class="service-name">Market<br />Price</h4>
      </div>
    </div>
  </div>
</section>
<!----------About Us------------------------>
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">Why We Do It.</h1>
    <div class="row">
      <div class="col-md-6 about-us">
        <ul>
          <li>
            The purpose of our website is to assist farmers in making better
            decisions for their crops.
          </li>
          <li>
            Every soil has unique fertilizer requirements and suits specific
            crops, making <b>personalized recommendations</b> essential.
          </li>
          <li>
            By <b>harnessing the power of technology</b>, we aim to bridge the
            gap between agricultural practices and data-driven insights.
          </li>
          <li>
            We aim to provide a comprehensive one-stop solution to cater to all
            the needs of farmers.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/static/images/farmer_02.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!----------How We Do It-------------------->
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">How We Do It.</h1>
    <div class="row">
      <div class="col-md-6 about-us">
        <ul>
          <li>
            Our website integrates cutting-edge machine learning and deep
            learning algorithms to facilitate informed decision-making.
          </li>
          <li>
            These algorithms are trained on vast and diverse datasets, ensuring
            accurate and reliable recommendations.
          </li>
          <li>
            We leverage the power of data-driven insights to deliver valuable
            suggestions to farmers.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/static/images/farmer_03.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!----------What We Do ?-------------------->
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">What We Do ?</h1>
    <div class="row">
      <div class="col-md-6 about-us">
        <ul>
          <li>
            Our website is a <b> farmer-centric platform </b>that offers a range
            of services based on user inputs.
          </li>
          <li>
            <b>Crop Recommendation:</b> Using soil analysis and other relevant
            factors, we suggest the most suitable crops for a specific plot of
            land.
          </li>
          <li>
            <b>Fertilizer Recommendation:</b> We provide tailored fertilizer
            suggestions based on the soil's unique needs and crop choice.
          </li>
          <li>
            <b>Plant Health Assessment:</b> Our computer vision technology
            analyzes leaf images to determine the plant's health status and
            identify potential diseases.
          </li>
          <li>
            <b>Market Price Information:</b> Farmers can access current market
            prices for their crops using data fetched from the Indian
            government's API.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/static/images/farmer_04.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!----------How It Benefits Farmers ?------->
<section id="about-us">
  <div class="container">
    <h1 class="title text-center">How It Benefits Farmers ?</h1>
    <div class="row">
      <div class="col-md-6 about-us">
        <ul>
          <li>
            <b>Empowering Decision Making:</b> By receiving personalized
            recommendations, farmers can make informed choices for their crops
            and fertilizers.
          </li>
          <li>
            <b>Crop Yield:</b> Tailored suggestions lead to optimal crop choices
            and better fertilizer usage, resulting in increased yields.
          </li>
          <li>
            <b>Early Disease Detection:</b> Our plant health assessment helps
            detect diseases at an early stage, allowing farmers to take timely
            action and prevent losses.
          </li>
          <li>
            <b>Market Awareness:</b> Access to real-time market prices enables
            farmers to sell their produce at the most favorable rates.
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <img src="/static/images/farmer_05.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!----------Quotes-------------------------->
<section id="quotes">
  <div class="container">
    <h1 class="title text-center">Quotes</h1>
    <div class="row offset-1">
      <div class="col-md-4 offset-md-1 quotes">
        <p>
          Agriculture is knowledge, it is skill, and it is the instrument of the
          economic transformation of the country.
        </p>
        <img
          src="https://th.bing.com/th/id/R.f23778460df068a070243104345e2f0b?rik=rM8Ugybe1GQ7cA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-ds227LvoTqk%2fThCuNYcoGYI%2fAAAAAAAAAGQ%2fG5NQZ-zxPsM%2fs1600%2fgandhi_sepia.jpg&ehk=CRuSyVWpifSU1qOmjk0plACK05crrzh55FquZl%2fzWHQ%3d&risl=&pid=ImgRaw&r=0"
          alt=""
        />
        <p class="user-details"><b>Mahatma Gandhi</b></p>
      </div>
      <div class="col-md-4 offset-md-2 quotes">
        <p>
          We must harness the power of technology and science to revolutionize
          agriculture and improve the lives of farmers.
        </p>
        <img
          src="https://th.bing.com/th/id/R.7d12f24287ff1834f10ee0a49b252dbb?rik=dVjWCy6RA4BF5w&riu=http%3a%2f%2fwww.internationalinside.com%2fwp-content%2fuploads%2f2015%2f07%2fdr_apj_abdul_kalam_wallpapers.jpg&ehk=pBnhFHfJEDkAPhHpw9kiCwSEGA8w14WMRRO1C9TH7ss%3d&risl=&pid=ImgRaw&r=0"
          alt=""
        />
        <p class="user-details">
          <b>A. P. J. Abdul Kalam</b><br />The former President of India
        </p>
      </div>
    </div>
  </div>
</section>
<!----------Sevice Cards-------------------->
<section>
  <h1 class="title text-center">Services</h1>
  <div class="container-fluid d-flex justify-content-center">
    <div class="row row-cols-1 row-cols-md-4 g-3 gy-3">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1597916829826-02e5bb4a54e0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Crop Recommendation</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="{{url_for('crop_recommendation')}}" class="btn btn-primary"
              >Visit Page</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1492496913980-501348b61469?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Fertilizer Recommendation</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="{{url_for('fertilizer_recommendation')}}"
              class="btn btn-primary"
              >Visit Page</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1580982327559-c1202864eb05?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Dieases Classification</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a
              href="{{url_for('image_classification')}}"
              class="btn btn-primary"
              >Visit Page</a
            >
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            src="https://images.unsplash.com/photo-1550989460-0adf9ea622e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=687&q=80"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Market Price</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="{{url_for('market_price')}}" class="btn btn-primary"
              >Visit Page</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!----------Social Media Section------------>
<section id="social-media">
  <div class="container text-center">
    <p>Connect on Social Media</p>
    <div class="social-icons">
      <a href="#"><img src="/static/images/github-logo.png" alt="" /></a>
      <a href="#"><img src="/static/images/linkedin-icon.png" alt="" /></a>
    </div>
  </div>
</section>
<!----------Footer Section------------------>
<section id="footer">
  <img src="/static/images/wave1_mod.png" class="footer-img" alt="" />
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-box">
        <img src="/static/images/logo.png" alt="" />
        <p class="addition-info">
          Please Try all the features and comment and share
        </p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
